{% extends 'clerk/clerk_basic.html' %}

{% block static_bottom_navi %}
    mdui-bottom-nav-fixed
{% endblock %}

{% block content %}
    <div class="mdui-table-fluid" style="margin-top: 20px">
        <table class="mdui-table mdui-table-hoverable">
            <thead>
            <tr>
                <th>Cover</th>
                <th>ISBN</th>
                <th>Title</th>
                <th>Inventory</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for b in books %}
                <tr>
                    <td>
                        <img src="../../../../{{ b.cover }}" class="uk-preserve-width" width="80" alt="">
                    </td>
                    <td>{{ b.ISBN }}</td>
                    <td>{{ b.title }}</td>
                    <td>{{ b.inventory }}</td>
                    <td>
                        <a class="mdui-ripple" href="{% url 'clerk:book_edit_form' b.ISBN%}" style="text-decoration:none"><i class="mdui-icon material-icons mdui-ripple-white">edit</i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="mdui-bottom-nav">
        <a class="mdui-ripple" mdui-dialog="{target: '#Search'}" style="text-decoration:none"><i class="mdui-icon material-icons mdui-ripple-white">search</i></a>
        <a class="mdui-ripple" mdui-dialog="{target: '#Editing'}" style="text-decoration:none"><i class="mdui-icon material-icons mdui-ripple-white">library_add</i></a>
    </div>

    <div class="mdui-dialog" id="Search">
        <div class="mdui-dialog-title">Search For...</div>
        <div class="mdui-dialog-content">
            <form method="post" action="{% url 'clerk:book_edit_view' %}">
                {% csrf_token %}
                <input class="mdui-textfield-input " type="text" name="keyword" placeholder="ISBN / Title / Publisher / Date..."/>
            </form>
        </div>
    </div>

    <div class="mdui-dialog" id="Editing">
        <div class="mdui-dialog-title">Edit Form</div>
        <div class="mdui-dialog-content">
            <form enctype="multipart/form-data" method="post" action="{% url 'clerk:book_edit_view' %}">
                {% csrf_token %}
                <label class="mdui-textfield-label">ISBN</label>
                <input class="mdui-textfield-input " type="text" name="isbn"  {% if add %}disabled{% endif %} required/>
                <label class="mdui-textfield-label">Title</label>
                <input class="mdui-textfield-input" type="text" name="title" required>
                <label class="mdui-textfield-label">Category</label>
                <select class="mdui-select" name="cate" style="margin-left: 20%; margin-right: 20%; width: 60%;">
                    {% for cate in category %}
                        <option value="{{ cate.cate_id }}">{{ cate.name }}</option>
                    {% endfor %}
                </select>
                <label class="mdui-textfield-label">Author</label>
                <input class="mdui-textfield-input" type="text" name="author"  required>
                <label class="mdui-textfield-label">Publisher</label>
                <input class="mdui-textfield-input" type="text" name="publisher" required>
                <label class="mdui-textfield-label">Publish Date</label>
                <input class="mdui-textfield-input" type="date" name="publish_date" required>
                <label class="mdui-textfield-label">Advertise</label>
                <input class="mdui-textfield-input" type="text" name="advertise" >
                <label class="mdui-textfield-label">Price</label>
                <input class="mdui-textfield-input" type="text" name="price" required>
                <br/>
                <label class="mdui-textfield-label">Cover</label>
                <input type="file" name="cover"/>

                <div class="mdui-row mdui-m-t-1 mdui-m-b-1">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple  mdui-color-blue-accent mdui-center mdui-dialog-close" style="width: 100%" type="submit">Confirm</button>
                </div>
                <div class="mdui-row mdui-m-t-1 mdui-m-b-1">
                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-center mdui-dialog-cancel" style="width: 100%" type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}